# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[**/*.ts]
ij_typescript_force_quote_style = true
ij_typescript_use_double_quotes = false

[**/*.tsx]
ij_typescript_force_quote_style = true
ij_typescript_use_double_quotes = false
