
.searchForm {
    border: none;
    padding: 0;
}

.searchForm fieldset {
    background: var(--color-bg2);
    border: 1px dotted #a5a5a5;
    border-radius: 7px;
    margin: 0 0 10px;
    padding: 5px 10px;
}

.searchForm input[type=search] {
    display: inline-block;
    width: 20rem;
    margin: .5rem;
}

.searchForm input[type=submit] {
    padding: .4rem 2rem;
}

.searchForm input[type=submit],
.searchForm input[type=reset] {
    display: inline-block;
    color: var(--color-text);
    margin: .5rem;
    cursor: pointer;
}

.searchResults span {
    margin: .5rem;
}

.searchResults ol {
    margin: 0;
    padding: 0;
    list-style: none;
    background: var(--color-bg2);
    border: 1px dotted #a5a5a5;
    border-radius: 7px;
}

.searchResults .item {
    list-style: none;
    padding-left: 1rem;
    border-top: 1px dotted #a5a5a5;
}

.searchResults .item:first-child {
    border-top: none;
}
