
.searchForm {
    border: none;
    padding: 0;
}

.searchForm fieldset {
    border: 1px dotted #a5a5a5;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.searchForm input[type=search] {
    display: inline-block;
    width: 20rem;
    margin: 0;
}

.searchForm input[type=submit],
.searchForm input[type=reset] {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    color: var(--color-text);
    margin: .5rem;
    cursor: pointer;
}

.searchResults {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px dotted #a5a5a5;
    border-radius: 7px;
}

.searchResults .item {
    list-style: none;
    padding-left: 1rem;
    border-top: 1px dotted #a5a5a5;
}

.searchResults .item:first-child {
    border-top: none;
}
