.recentPastes {
    margin-top: 0;
    padding-top: 0;
    border-left: 1px dotted #a5a5a5;
}

.recentPastes h3 {
    margin-left: 1rem;
    margin-top: 0;
    padding-top: 0;
}

.recentPastes ol {
    list-style: none;
    margin: 0;
    padding: 0;

}

.recentPastes .item {
    list-style: none;
    padding-left: 1rem;
    border-top: 1px dotted #a5a5a5;
}

.recentPastes .item p {
    display: inline-flex;
    align-items: start;
    gap: 3px;
}

.recentPastes .item p {
    display: inline-flex;
    align-items: start;
    gap: 3px;
}

.refetch {
    cursor: pointer;
    color: var(--color-link);
}

.refetch:active {
    filter: brightness(var(--hover-brightness));
}

@media screen and (max-width:750px) {
    .recentPastes {
        border-left: none;
        border-bottom: 1px dotted #a5a5a5;
    }
}
