
.lastPaste {
    margin: 1rem;
    color: green;
    user-select: none;
}

.lastPaste span {
    user-select: all;
    cursor: pointer;
}

.lastPaste span::selection {
    color: white;
    background-color: greenyellow;
}

.createForm {
    border: none;
    padding: 0;
}

.createForm fieldset {
    border-radius: 7px;
    border-width: 1px;
    margin-bottom: 10px;
}

.createForm hr {
    margin: 0;
    color: #000000;
}

.createForm div {
    margin: .5rem;
}

.createForm label {
    margin: .5rem 1rem .5rem .5rem;
    display: inline-block;
    font-weight: normal;
}

.createForm div label:first-child {
    font-weight: bold;
}

.createForm input, select {
    width: initial;
    display: inline;
    margin: 0 .2rem 0 0;
}

.createForm textarea {
    font-family: monospace;
    box-sizing: border-box;
    width: 100%;
    height: 20em;
}

.createForm button,
.createForm select,
.createForm input[type=submit],
.createForm input[type=reset],
.createForm input[type=radio] {
    cursor: pointer;
}
