.createForm {
    border: none;
    padding: 0;
}

.createForm fieldset {
    background: var(--color-bg2);
    border: 1px dotted #a5a5a5;
    border-radius: 7px;
    margin: 0 0 10px;
    padding: 5px 10px;
}

.createForm hr {
    margin: 0;
    border-top: 1px dotted #a5a5a5;
    background-color: transparent;
}

.createForm div {
    margin: 1rem .5rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.createForm .content {
    flex-direction: column;
    gap: 10px;
    text-align: end;
}

.createForm .content span {
    text-align: right;
    display: inline-block;
    width: 100%;
    padding-right: 2rem;
    font-size: .7rem;
}

.createForm label,
.createForm input[type=radio],
.createForm select {
    width: initial;
    margin: 0;
}

.createForm input[type=text],
.createForm input[type=password] {
    width: 15rem;
    margin: 0;
}

.createForm input[type=submit],
.createForm input[type=reset] {
    display: inline-block;
    color: var(--color-text);
    margin: .5rem;
}

.createForm input[type=radio] {
    margin-right: .3rem;
}

.createForm label,
.createForm button,
.createForm select,
.createForm input[type=submit],
.createForm input[type=reset],
.createForm input[type=radio] {
    cursor: pointer;
}

.createForm label {
    font-weight: normal;
}

.createForm label:first-child {
    font-weight: bold;
    cursor: initial;
}

.createForm textarea {
    font-family: monospace;
    box-sizing: border-box;
    margin: 0;
    padding: .5rem;
    width: 100%;
    height: 20em;
}

@media screen and (max-width:750px) {
    .createForm input[type=text],
    .createForm input[type=password] {
        width: auto;
    }
}
