
.header {
  margin-bottom: 2rem;
}

.content {
  display: flex;
  gap: 10px;
}

.head, .left, .right, .footer, .content {
  /*border: 1px solid red;*/
}

.left {
  flex-basis: 65%;
  min-width: 400px;
}

.right {
  flex-basis: 35%;
}

.footer {
  margin-top: 2rem;
}



button,
select,
input[type=submit],
input[type=reset],
input[type=radio] {
  cursor: pointer;
}

label {
  white-space: nowrap;
}

fieldset {
  border-radius: 7px;
}

hr {
  color: #cfcfcf;
}

textarea {
  font-family: monospace;
  box-sizing: border-box;
  width: 100%;
  height: 20em;
}

.action {
  display: block;
  color: aqua;
}

.pasteTable {
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.pasteTable td {
  border-top: 1px dotted black;
}

@media screen and (max-width:600px) {

  .pasteTable {
    table-layout: fixed;
  }

  .pasteTable th,td {
    text-overflow: ellipsis " [..]";
    width: 20%;
    overflow: hidden;
  }

  .pasteTable th:nth-child(3),
  .pasteTable th:last-child,
  .pasteTable td:nth-child(3),
  .pasteTable td:last-child {
    display: none;
  }
}

.notification {
  animation: gfx 1.8s alternate;
}

@keyframes gfx {
  0% { background-color: initial }
  50% { background-color: greenyellow }
  100% { background-color: initial }
}
