
.head {
  margin: 2rem;
  padding: 0;
  text-align: left;
}

.content {
  display: flex;
  gap: 10px;
  margin: 1rem;
}

.left {
  flex-basis: 65%;
  padding: 0;
}

.leftContainer {
  position: sticky;
  top: 3rem;
}

.right {
  flex-basis: 35%;
}

.footer {
  margin: 2rem;
}

@media screen and (max-width:750px) {

  .content {
    flex-direction: column;
  }

  .right {
    margin: 3rem 0;
  }

}
