
.header,
.footer {
  margin: 2rem;
  padding: 0;
  text-align: left;
}

.content {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.left {
  flex-basis: 65%;
  padding: 0;
  margin: 0;
}

.leftContainer {
  position: sticky;
  top: 1rem;
}

.right {
  flex-basis: 35%;
}

@media only screen and (max-width:1024px) {

  .content {
    flex-direction: column;
      margin: .5rem;
  }

  .right {
    margin: 2rem 0;
  }

  .rightMobile {
    display: none;
  }

}
