@import "mvp.css";

:root {
    --box-shadow: none;
    --color-bg: #fff2d999;
    --color-secondary: #118bee;
    --line-height: 1.2;
    --width-card: inherit;
    --width-card-medium: inherit;
    --width-card-wide: inherit;
    --width-content: inherit;
}
