
.read {
  border: 1px dotted #a5a5a5;
  border-radius: 10px;
}

.read h2,
.read h3,
.read pre,
.read p {
  margin: 1rem;
  padding: 0;
}

.read h2 svg {
  padding-right: 5px;
}

.read pre {
  display: flex;
  flex-direction: column;
  counter-reset: line;
}

.read pre span {
  display: inline-block;
  line-height: 1.5rem;
}

.read pre .row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.read pre .count {
  counter-increment: line;
  min-width: 2rem;
  border-right: 1px solid grey;
}

.read pre .count:before {
  content: counter(line) '.';
}

.read pre .line {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.read .clone {
  font-size: 1.5rem;
}

.read .onetime {
  color: red;
}

.read .decrypt input {
  display: inline-block;
}

.read .decrypt button {
  margin: 0;
  padding: .5rem;
  display: inline-block;
}

.read .decrypt button:active {
  background: grey;
}
