
.read h3,
.read h4,
.read pre,
.read p {
  margin: 1rem;
  padding: 0;
}

.read pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.read {
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}

.onetime {
  color: red;
}

.decrypt input {
  display: inline-block;
}

.decrypt button {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
}

.decrypt button:active {
  background: grey;
}
