
.read h3,
.read h4,
.read pre,
.read p {
  margin: 1rem;
  padding: 0;
}

.read {
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}

.key {
  border: 1px solid grey;
  border-radius: 5px;
  width: 23px;
  height: 23px;
}

.key:active {
}

.onetime {
  color: red;
}
