name: ci

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: shell
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          which npm
          which node
          node --version

      - name: Build with Maven
        run: ./mvnw clean verify

      - name: Publish Test Report
        if: success() || failure()
        uses: scacap/action-surefire-report@v1

  release:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Publish package [on main]
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./mvnw versions:set -DnewVersion=1.0.${{ github.run_number }}
          ./mvnw deploy -DskipTests -Denv=mysql

      - uses: actions/delete-package-versions@v5
        with:
          package-name: 'com.github.binpastes.backend'
          package-type: 'maven'
          min-versions-to-keep: 3
